@keyframes choicePop {
	0% {
		transform: scale(0.6);
		opacity: 0;
	}
	35% {
		transform: scale(1.15);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.choicePop {
	animation: choicePop 600ms ease-out both;
}
