@keyframes choicePop {
	0% {
		transform: scale(0.6);
		opacity: 0;
	}
	35% {
		transform: scale(1.15);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.choicePop {
	animation: choicePop 600ms ease-out both;
}

@keyframes wordTiltLeft {
	0% {
		transform: rotate(0deg) translateX(0);
	}
	40% {
		transform: rotate(-3deg) translateX(-6px);
	}
	100% {
		transform: rotate(0deg) translateX(0);
	}
}

@keyframes wordTiltRight {
	0% {
		transform: rotate(0deg) translateX(0);
	}
	40% {
		transform: rotate(3deg) translateX(6px);
	}
	100% {
		transform: rotate(0deg) translateX(0);
	}
}

.wordTiltLeft {
	animation: wordTiltLeft 240ms ease-out both;
}

.wordTiltRight {
	animation: wordTiltRight 240ms ease-out both;
}

.brandTitle {
	font-family: var(--font-emilys-candy);
}
